.toolbar {
  display: flex;
  // align-self: flex-start;
  // justify-self: center;
  align-items: center;
  gap: 12px;
  padding: 16px 0;
  flex-direction: column;
}

.search {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.chips {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: center;
}
