.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.delete {
  background-color: transparent;
  border: 1px solid var(--color-down);

  &:hover {
    background-color: var(--color-down) !important;
    color: var(--color-text-primary);
  }
}
